html {
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 5rem;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
}

.menu {
  display: flex;
}
.navigator {
  display: flex;
  width: 5rem;
  height: 5rem;

  align-items: center;
  justify-content: center;
  font-size: 4rem;
}
.main {
  display: flex;
  font-size: 2rem;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.central-area {
  width: 30rem;
  height: 20rem;
  display: flex;
  font-size: 2rem;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 2rem;
  border: 1px solid #000;
}

.central-area p {
  font-size: 3rem;
}
h1 {
  font-size: 1rem;
}

.button__view-all {
  width: 10rem;
  height: 5rem;
  font-size: 1.5rem;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  border-bottom-left-radius: 2rem;
  border: none;
  background-color: #eb6434;
  color: white;
}

.activities {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  /* justify-content: space-between; */
  color: white;
  text-align: center;
  /* align-items: flex-end; */
  width: 30rem;
  height: 70rem;
  border: 1px solid #000;
  gap: 2rem;
}

.activities-bubble {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 30rem;
  height: 20rem;
  border-radius: 5rem;
  border: 1px solid #000;
  margin: 0;
}

.activities-bubble--playtime {
  display: flex;
  flex-direction: column;

  background-image: url(/images/01.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.activities-bubble--rest {
  background-image: url(/images/02.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.activities-bubble--walks {
  background-image: url(/images/03.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.activities-bubble h2 {
  font-size: 1rem;
  visibility: hidden;
}

.activities-bubble p {
  font-size: 2rem;
  font-style: bold;
  border-bottom: 2rem;
  visibility: hidden;
}

.activities-bubble--playtime:hover p,
h2 {
  visibility: visible;
}
.activities-bubble--playtime:hover h2 {
  visibility: visible;
}
.activities-bubble--rest:hover p,
h2 {
  visibility: visible;
}
.activities-bubble--rest:hover h2 {
  visibility: visible;
}
.activities-bubble--walks:hover p,
h2 {
  visibility: visible;
}
.activities-bubble--walks:hover h2 {
  visibility: visible;
}
