html {
  font-size: 62.5%;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 5rem;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
}

.menu {
  display: flex;
}
.navigator {
  display: flex;
  width: 5rem;
  height: 5rem;

  align-items: center;
  justify-content: center;
  font-size: 4rem;
}
.main {
  display: flex;
  font-size: 2rem;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.central-area {
  display: flex;
  font-size: 2rem;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 2rem;
}

.central-area p {
  font-size: 3rem;
}
h1 {
  font-size: 1rem;
}

.button__view-all {
  width: 10rem;
  height: 5rem;
  font-size: 1.5rem;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  border-bottom-left-radius: 2rem;
  border: none;
  background-color: #eb6434;
  color: white;
}
